<h1>Products</h1>
<h3>Total number of products: <%=@products.count%></h3>
<h3>Average price of products: $<%=@average_price%></h3>
<h3>Quantity of stocked products: <%=@total_quantity%></h3>
<% @products.each do |product|%>
<h2><%= product.title%></h2>
<p>
<strong>Category: </strong>
<%= product.category[:name]%>
</p>
<p>
<strong>Price: $</strong>
<%= product.price%>
</p>
<p>
<strong>Stock Quantity: </strong>
<%= product.stock_quantity%>
</p>
<%end%>
